# compiled files
slam.dSYM

# visual studio code
.vscode

# local compile scripts
compile.sh
compile.bat

# build
/build
*/build

# pointclouds
*.ply

# visual studio
.vs
/Debug
/x64
*.sln
*.db
*.opendb
*.vcxproj
*.filters
*.user
*.psess
*.vspx
